.reincarnation-display {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23em;
  width: 40%;
  margin: 2rem auto auto auto;
}

.comment {
  height: 5em;
  width: 40%;
}

.comment-wrapper {
  margin-left: 1em;
  margin-right: 1em;
}

.bottom-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.past-life-message {
  text-align: center;
  margin: auto;
}

.no-reincarnation {
  text-align: center;
  margin: auto;
}
