body {
  font-family: 'Josefin Slab', serif;
  font-variant: small-caps;
  background: url("../../images/reincarnation.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0; }

button:focus {
  outline: none;
  border: none; }

h2 {
  width: 12rem;
  text-align: center;
  text-overflow: ellipsis; }

h3 {
  font-size: 1.5rem;
  margin: 1rem auto; }

input {
  border-radius: 0.8rem;
  font-family: 'Josefin Slab', serif;
  height: 2rem;
  border: 0.1rem solid black;
  width: 10rem;
  padding-left: 1rem;
  font-size: 1rem; }

input:focus {
  outline: none; }

label {
  width: auto;
  margin: auto;
  width: 12rem;
  font-size: 1.5rem;
  font-family: 'Josefin Slab', serif;
  font-variant: small-caps; }
