.button-wrap {
  display: flex; }

.header {
  background-color: rgba(235, 244, 244, 0.8);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem; }

.header-title {
  font-size: 1.5em;
  width: auto; }

.header-title:hover {
  cursor: pointer;
  color: #ba91a9; }
