.button-wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
}

.header {
  border-bottom: 2px solid lime;
}

.header-title {
  text-align: center;
  font-size: 1.5em;
  justify-content: space-between;
  width: auto;
  float: left;
}

.header-title:hover {
  cursor: pointer;
}
