.button-wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 2em; }

.header {
  background-color: rgba(235, 244, 244, 0.8);
  border-bottom: 2px solid black;
  width: 100%; }

.header-title {
  text-align: center;
  font-size: 1.5em;
  justify-content: space-between;
  width: auto;
  float: left; }

.header-title:hover {
  cursor: pointer;
  color: pink; }
