.table-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 4rem auto 4rem;
  text-align: left;
  align-content: center;
  align-items: center;
  border: 0.1rem solid black;
  background-color: rgba(200, 244, 244, 0.8); }

.reincarnated-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto 4rem;
  text-align: left;
  align-content: center;
  align-items: center;
  border-bottom: 0.1rem solid black;
  border-right: 0.1rem solid black;
  border-left: 0.1rem solid black;
  background-color: rgba(235, 244, 244, 0.8); }

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 4rem;
  text-align: left;
  align-content: center;
  align-items: center;
  width: 100%; }

.user-delete-button {
  border-radius: 0.7rem;
  height: 2rem;
  align-content: center;
  align-items: center;
  margin: auto 3rem;
  width: 6rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: 0.05rem solid; }

.user-delete-button:hover {
  color: #d8a1af;
  background-color: #3b1920; }

.user-notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2rem; }

.user-notes:focus {
  outline: none; }

.submit-notes {
  border-radius: 0.7rem;
  height: 2rem;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 7rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: 0.05rem solid; }

.submit-notes:hover {
  color: #d8a1af;
  background-color: #3b1920; }
